.recordlist-container {
    max-height: 70vh;
    background-color: inherit;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin: 1vh 4vw;
}

.record-container {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr 1fr 35px;
    justify-items: start;
    align-items: center;
}

.record-category {
    font-size: max(14px, 1.25vw);
    font-weight: bold;
}

.record-category-short {
    display: none;
    font-size: max(14px, 1.25vw);
    font-weight: bold;
}

.record-description {
    font-size: max(12px, 1vw);
    text-align: left;
}

.record-amount {
    font-size: max(12px, 1vw);
    justify-self: right;
    padding-right: 2vw;
}

.record-currency-icon {
    background-color: inherit;
    padding-left: 2px;
}

.record-created_at {
    font-size: max(12px, 1vw);
    justify-self: right;
    padding-right: 10px;
}

.record-edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-edit-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.record-edit-btn:hover {
    color: #85b79d;
}

.record-edit-icon {
    font-size: max(12px, 1vw);
}

.record-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: max-content;
    height: max-content;

    padding: 1vh 2vw;

    color: var(--color4);
}

.record-modal-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.record-modal-p {
    font-weight: bold;
}

.record-modal-input {
    width: 50%;
    border: 2px solid var(--color3);
    border-radius: 10px;
    padding: 4px 6px;
    background-color: var(--color1);
    color: var(--color4);
    font-weight: bold;
}

.record-modal-btn {
    background-color: var(--color4);
    border: 0;
    border-radius: 5px;
    margin-top: max(1vh, 5px);
    padding: max(1vh, 5px) max(1vw, 5px);
    transition: 0.3s;
}

.record-modal-btn:hover {
    background-color: var(--color_highlight_green);
}

.record-delete:hover {
    background-color: var(--color_red);
}

@media only screen and (max-width: 600px) {
    .record-container {
        grid-template-columns: 25px 5fr 2fr 2fr 30px;
    }

    .record-category {
        display: none;
    }

    .record-category-short {
        display: flex;
    }
}

@media only screen and (max-width: 450px) {
    .record-container {
        grid-template-columns: 25px 5fr 2fr 30px;
    }

    .record-created_at {
        display: none;
    }
}
