.modal .modal-dark-bg {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal-dark-bg {
    background: #1a1a1e;
    opacity: 0.8;
}

.modal-content {
    display: flex;
    flex-direction: column;

    align-items: center;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: var(--color1);
    padding: 0.5vh 1vw;

    border-radius: 5px;

    min-width: 250px;
    min-height: 150px;
}
