.account-settings-1 {
    width: min-content;
    padding: max(2vh, 10px) max(2vw, 10px);
    background-color: var(--color5);
    border-radius: 10px;
}

.my-account-container {
    text-align: left;
}

.my-account-label {
    font-size: max(0.75vw, 10px);
    font-weight: bold;
}

.my-account-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.my-account-btn-red-hl:hover {
    background-color: var(--color_red) !important;
}

.my-account-edit-btn {
    margin-left: 10vw;
}

.my-account-delete-btn {
    display: flex;
    font-size: max(12px, 1vw);
    background-color: var(--color6);
    border: 0;
    border-radius: 4px;
    padding: max(1vh, 5px) max(1vw, 8px);
    cursor: pointer;
    transition: 0.3s;
}

.my-account-delete-btn:hover {
    background-color: var(--color_red);
}

.password-settings-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.password-settings-container > button:last-child {
    margin-top: max(2vh, 10px);
}

.account-settings-modal-row {
    display: flex;
    flex-direction: column;
}

.account-settings-btn-div {
    display: flex;
    flex-direction: column;
    padding: 1vh 0;
}

.account-settings-btn-div button:not(:first-child) {
    margin-top: max(0.75vh, 2px);
}

.account-settings-label {
    font-size: max(12px, 0.8vw);
    font-weight: 600;
    color: var(--color5);
    text-align: left;
}

.account-settings-input {
    background-color: var(--color5);
    border: 0;
    border-radius: 4px;
    padding: 0.5vh 8px;
    font-size: max(12px, 0.9vw);
}
