:root {
    font-family: "Helvetica", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: max(12px, 2vmin);

    --color5: #141b2b;
    --color4: #38405f;
    --color3: #59546c;
    --color2: #8b939c;
    --color1: #f8f8f8;
    --color_highlight_blue: #9ca3db;
    --color_highlight_green: #85b79d;
    --color_red: #ff0035;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--color4);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

main {
    margin-left: max(15vw, 50px);
}

body {
    margin: 0;
    overflow-y: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}
