.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: max(1vh, 10px) 4vw;
}

.filter-input-date {
    width: max(10vw, 50px);
    border: 2px solid var(--color3);
    border-radius: 10px;
    padding: 4px 6px;
    margin-left: max(5px, 0.5vw);
    background-color: var(--color1);
    color: var(--color4);
    font-weight: bold;
    font-size: max(10px, 0.8vw);

    color-scheme: light;
}

.filter-button {
    background-color: var(--color3);
    border: 0;
    border-radius: 5px;
    padding: max(0.75vh, 6px) max(1vw, 5px);
    font-size: max(12px, 0.9vw);
    cursor: pointer;
    transition: 0.3s;
}

.filter-apply:hover {
    background-color: var(--color_highlight_green);
}

.filter-reset:hover {
    background-color: var(--color_red);
}

.filter-p {
    display: inline-block;
    font-size: max(10px, 1vw);
    margin: 0;
}

#filterp2 {
    display: none;
}

@media screen and (max-width: 600px) {
    #filterp1 {
        display: none;
    }
    #filterp2 {
        display: inline-block;
    }
}
