.statistics-container {
    padding-top: 4vh;
}

.charts-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistics-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 4vw;
    padding: 1vh 0;
}

.statistics-filter-btn {
    background-color: var(--color3);
    border: 0;
    border-radius: 5px;
    padding: max(1vh, 6px) max(1vw, 5px);
    font-size: max(14px, 1vw);
    cursor: pointer;
    transition: 0.3s;
}

.statistics-filter-btn:hover {
    background-color: var(--color_highlight_blue);
}

.sort-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: max(1vh, 10px) 4vw;
}

.sort-child {
    margin: 0.5vh 0 0.5vh 2vw;
}

.sort-btn {
    background-color: var(--color3);
    border: 0;
    border-radius: 5px;
    padding: max(0.75vh, 6px) max(1vw, 5px);
    font-size: max(14px, 1vw);
    cursor: pointer;
    transition: 0.3s;
}

.sort-btn:hover {
    background-color: var(--color_highlight_blue);
}
